@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 215 28% 17%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 32% 54%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0rem;
  }

  .gradient-break-background {
    background: linear-gradient(10deg, hsl(var(--secondary) / 0.1) 70%, hsl(var(--secondary) / 0) 70%);
  }
  .background-primary-black-percent {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), rgba(0, 101, 204, 0.20);
  }
  .dialog-link {
    @apply text-xl text-center p-4 w-full hover:bg-slate-200 focus:bg-slate-200
  }

  html {
    scroll-behavior: smooth !important;
  }
}

body {
  @apply text-stone-900
}

h1 {
  @apply font-secondary lg:text-9xl text-[20vw] md:text-[12vw] leading-[0.9]
}

h2 {
  @apply lg:text-6xl font-secondary md:text-[8vw] text-[12vw] leading-[0.9]
}
